<%- include ('partials/navbar.ejs')%>
<%- include ('partials/header.ejs')%>

<div class="container">
    <br><br><br><br>
    <div class="card">
        <div class="card-header">
            <h1>Clientes</h1>
        </div>
        <div class="card-body">
            <table class="table table-bordered table-hover">
                <thead class="table-dark">
                    <tr>
                        <th>Nome</th>
                        <th>cpf</th>
                        <th>endereco</th>
                    </tr>
                </thead>
                <tbody>
                     <!--Chamando array de objetos-->
                     <% clientes.forEach(clientes => {%>
                        <tr>
                            <td><%=clientes.nome %></td>
                            <td><%=clientes.cpf %></td>
                            <td><%=clientes.endereco %></td>
                            <% }) %>
                        </tr>
                    

                     </tbody>
                    </table>
                 </div>
            </div>
        </div>
    </div>
</div>

       

<%- include ('partials/footer.ejs')%>